<div class="gotta">
  <h1>Gotta Think Outside the Box!</h1>
</div>

<div id="slideshow">
  <div>
    <%= image_tag "marvel.png" %>
  </div>
  <div>
    <%= image_tag "mj.png" %>
  </div>
  <div>
    <%= image_tag "nb.png" %>
  </div>
  <div>
    <%= image_tag "nike1.png" %>
  </div>
  <div>
    <%= image_tag "nike2.png" %>
  </div>
</div>
