<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js">
  </script>
  <script src="index.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <meta charset="UTF-8">
  <title>Outside The Box</title>

</head>

<body>
<%= image_tag "outside_the_box.png" %>

  <nav>
    <ul>
      <li><a href="/shops">Home</a></li>
      <li><a href="">Products</a></li>
      <ul>
      <li><a href="/products">In-Stock</a></li>
      <li><a href="/releases">Upcoming Releases</a></li>
      </ul>
      <li><a href="">Information</a></li>
      <ul> 
        <li><a href="/about">About Us</a></li> 
        <li><a href="/contact">Contact</a></li> 
      </ul>
  </ul>
  </nav> 

  <div id="slideshow">
    <div>
      <%= image_tag "mj.png" %>
    </div>
    
    <div>
      <%= image_tag "nb.png" %>
    </div>
    
    <div>
      <%= image_tag "marvel.png" %>
    </div>
   
   <div>
    <%= image_tag "nike1.png" %>
   </div>

   <div>
    <%= image_tag "nike2.png" %>
   </div>

  </div>

  <div id="footer">

  </div>
  <div class="socialmedia">
  <div class="facebook">
    <a href="facebook.com"</a><img src="https://www.facebook.com/images/fb_icon_325x325.png" style="width:3em; height:3em;" class="soc-icon soc-fb">
    </a>
    <a href="facebook.com"</a><img src="http://latestlaptop.biz/wp-content/uploads/2014/09/instagram-logo-vector-png.jpg" style="width:3em; height:3em;" class="soc-icon soc-fb">
    </a>
    <a href="facebook.com"</a><img src="http://www.gambarphoto.com/wp-content/uploads/2014/06/whatsapp-logo-vectorinstagram-logo-vector---eps---free-graphics-download-gsdepdju.png" style="width:3em; height:3em;" class="soc-icon soc-fb">
    </a>
  </div>
  </div>
  
  <div class="terms">
    <span style="font-size: 9px">
      <a href="privacy-policy">TERMS OF USE</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="privacy-policy">PRIVACY POLICY</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;©2014 AKZ &amp; Video, LLC. All Rights Reserved
    </span>
  </div>
  </div> 

</body>
</html>