<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js">
  </script>
  <script src="index.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <meta charset="UTF-8">
  <title>Outside The Box</title>

</head>



  <div id="slideshow">
    <div>
      <%= image_tag "mj.png" %>
    </div>
    
    <div>
      <%= image_tag "nb.png" %>
    </div>
    
    <div>
      <%= image_tag "marvel.png" %>
    </div>
   
   <div>
    <%= image_tag "nike1.png" %>
   </div>

   <div>
    <%= image_tag "nike2.png" %>
   </div>



