<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js">
  </script>
  <script src="index.js"></script>
  <link rel="stylesheet" type="text/css" href="index.css">
  <meta charset="UTF-8">
  <title>Outside The Box</title>

</head>

<body>
<%= image_tag "outside_the_box.png" %>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="">Products</a>
      <ul>
      <li><a href="/product">In-Stock</a></li>
      <li><a href="/release">Upcoming Releases</a></li>
      </ul>
      <li><a href="/info">About Us</a></li> 
      <li><a href="/contact">Contact</a></li> 
      </li>
  </ul>
  </nav> 

  <div id="slideshow">
    <div>
      <%= image_tag "mj.png" %>
    </div>
    
    <div>
      <%= image_tag "nb.png" %>
    </div>
    
    <div>
      <%= image_tag "marvel.png" %>
    </div>
   
   <div>
    <%= image_tag "nike1.png" %>
   </div>

   <div>
    <%= image_tag "nike2.png" %>
   </div>

  </div>

  <div id="footer">

  </div>
  <div class="socialmedia">
      <a href="https://www.facebook.com/profile.php?id=100008563961501" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
      <a href="https://twitter.com/Official_OTB" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
      <a href="http://instagram.com/outsidetheboxkicks?ref=badge" class="ig-b- ig-b-48"><img src="//badges.instagram.com/static/images/ig-badge-48.png" alt="Instagram" /></a>
    </a>
  </div>
  
  <div class="terms">
    <span style="font-size: 9px">
      <a href="privacy-policy">TERMS OF USE</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="privacy-policy">PRIVACY POLICY</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;©2014 AKZ &amp; Video, LLC. All Rights Reserved
    </span>
  </div>
  </div> 

</body>
</html>