
<h2>Current Stock</h2>

<div id="products">
	<% @products.each do |product| %>
  		<%= image_tag product.photo.url(:medium) %> <br>
  		<%= product.name %> <br>
  		$<%= product.price/100.00 %> <br>
  		<%= product.description %>
  		<a href="shopping_cart" class="button">Add To Bag</a>
  		<%= link_to ("ADD TO BAG"), "/shopping_cart/products/#{ product.id }", method: :post %>
	<% end %>


</div>

